* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-image: url('./assets/bg-mobile.jpg');
  --stroke-color: rgba(255, 255, 255, 0.5);
  --stroke-color-bg: rgba(255, 255, 255, 0.1);
  --card-link-color: rgba(255, 255, 255, 0.05);
  --highlight-color-icon: rgba(255, 255, 255, 0.2);
  --switch-bg-light-dark-theme: url('./assets/moon-stars.svg');
  --switch-span-color: rgba(255, 255, 255, 0.1);
  --switch-span-border-color: rgba(255, 255, 255, 0.5);
  --avatar-border-color: rgba(255, 255, 0, 0.8);
}

body {
  background: #C49EE7;
  background: linear-gradient(303deg, rgba(196, 158, 231, 1) 0%, rgba(239, 191, 238, 1) 45%, rgba(253, 254, 255, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  transition: all 1s;
  height: 100vh;
}

body * {
  font-family: "Arapey", sans-serif;
  color: var(--text-color);
}

.light {
  --text-color: #960f0f;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --stroke-color-bg: rgba(255, 255, 255, 0.6);
  --card-link-color: rgba(0, 0, 0, 0.2);
  --highlight-color-icon: rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 20px;
}

.profile__tag {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing:2px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: black;
}

.profile__hello {
  font-family: "Great Vibes", cursive;
  color: #960f0f;
  font-size: 4rem;
}

.profile__texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__image {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.profile__info {
  min-width: 124px;
  font-size: 1.3rem;
}

.profile__desc {
  margin-top: 1rem;
  color: black;
}


/* ------------------ CARDS ------------------  */
.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 24px 0;
}

.card__item {
  /* max-width: 80%; */
  width: 100%;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--stroke-color-bg);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 24px;
  transition: background 0.2s;
}

.card__link:hover {
  background: var(--card-link-color);
  border: 1.5px solid var(--text-color);
}

/* ------------------ IFRAME ------------------  */

.iframe {
  width: 100%;
}

/* ------------------ FOOTER ------------------  */
.footer {
  width: 100%;
  padding: 2rem 0 5rem;
  text-align: center;
}

.footer__text {
  font-size: 1.5rem;
}

.footer__icon {
  font-size: 3rem;
}

@media (min-width:540px) {
  .profile__texts {
    flex-direction: row;
  }

  .profile__image {
    max-width: 50%;
  }
}